* {
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.header {
	position: fixed;
	width: 100%;
}

.header .border {
	border: 1px solid black;
}

.header .menu {
	margin-top: 10px;
}

.header .logo {
	width: 150px;
}

.header ul {
	float: right;
	list-style: none;
	margin-top: 20px;
}

.header ul li {
	display: inline;
	border-left: 1px solid black;
	padding: 0 10px;
}

.header ul li:first-child {
	border-left: none;
}