* {
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

#first-content {
	background-image: url(back-img.jpg);
	height: 600px;
}

#first-content-container {
	height: : 400px;
}

.container > .first-con-wrapper {
	height: 80%;
	background-color: rgba(76, 76, 76, 0.1);
	margin: 0 auto 0 auto;
}

.first-con-text {
	padding-top: 100px;
	width: 45%;
	color: white;
	float: left;
	display: inline-block;
	margin-left: 5%;
}

.first-con-btn {
	width: 80px;
	height: auto;
}

div.first-con-img{
	float: left;
	width:50%;
}

.first-con-img > img {
	width: 80%;
	height: auto;
	padding-top: 100px;
}